* { font-family : arial; font-size : 14px; }

#tools { float : left; width : 120px; }
#tools dt { margin-top : 12px; }
#tools dd { margin : 0; }

#output_wrapper { float : left; margin-left : 18px; }
#output { position : relative; border : 1px solid #ccc; width : 1200px; height : 600px; overflow : scroll; }

#grid { position : absolute; }
#grid td { width : 24px; height : 24px; border : 1px solid #ddd; text-align : center; font-weight : bold; }
#grid td.start { background-color : #9f9; }
#grid td.end { background-color : #f99; }
#grid td.empty { background-color : #666; }
#grid td.room { background-color : #fff; }
#grid td.wall { background-color : #111; }
#grid td.hall { background-color : #fff; }
#grid td.door { background-color : #ccc; }